<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="stylesheets/metro.css">

    <script src="javascripts/jquery-2.1.1.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="javascripts/prefixfree.min.js"></script>
    <title>王媛的web试验田</title>

</head>
<body>

<div class="navbar-wrapper">
    <div class="container">

        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">相册</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/photos">首页</a></li>
                        <li><a href="#about">关于我</a></li>
                        <li><a href="#">评论</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">其他的玩意<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">今天天气如何</a></li>
                                <li><a href="#">聊个天</a></li>
                                <li><a href="#">点我没效果的</a></li>

                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>
<!--End main-nav -->

<!--头部导航开始-->
<div class="container">
    <div id="title">
        <h3 data-shadow="欢迎来到王媛的Web试验田">
            欢迎来到王媛的Web试验田
        </h3>
    </div>
    <!--头部导航结束-->
    <div id="metro_box" class="a_link">
        <ul><h4>您可以：</h4></ul>

        <div class="row">
            <div class="col-xs-6 col-md-4">
                <div class="thumbnail">
                    <img id="pc1" src="images/pc3.png" alt="...">
                    <div class="caption">

                        <small><a href="http://192.168.1.101:1111/">点击查看</a></small>

                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-4">
                <div class="thumbnail">
                    <img id="pc2" src="images/pc4.png" alt="...">
                    <div class="caption">

                        <small><a href="http://192.168.1.101:5555/">进入聊天</a></small>

                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-4">
                <div class="thumbnail">
                    <img id="pc3" src="images/pc5.png" alt="...">
                    <div class="caption">

                        <small><a href="http://192.168.1.101:3333/weatherReport/index.html">点击查询</a></small>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="foot">
        <h3>By: Wang Yuan</h3>
    </div>
</div>

</body>

</html>
