<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>王媛的个人简历</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <script src="javascripts/scrollify.min.js"></script>

    <!--[if lt IE 9]>
    <script src="script/html5shiv.min.script"></script>
    <![endif]-->

    <link rel="stylesheet" href="stylesheets/main.css"/>
</head>
<body>


<section class="panel home" data-section-name="home">

    <div class="inner">
        <div id="code">
            <header>
                <h2 id="title1" class="title">个人简历</h2>

                <p class="tagline">Web前端开发</p>

            </header>
            <h3>姓名:王媛</h3>

            <h3>学校:西安交通大学</h3>

            <h3>联系电话:15529569625</h3>

            <h3>邮箱:wangyuan106@qq.com</h3>
        </div>
        <div id="scroll" class="center">
            <a href="#overview" class="scroll">向下滑动</a>
        </div>
    </div>
</section>
<section class="panel overview" data-section-name="overview">
    <div class="inner2">
        <h2 id="title2">专业技能</h2>
        <ol>
            <li>&bull;熟练掌握JavaScript编程语言</li>
            <li>&bull;熟练掌握Dojo开发工具</li>
            <li>&bull;了解Ember.js开发框架</li>
            <li>&bull;理解web技术标准</li>
            <li>&bull;掌握SSH技术框架</li>
            <li>&bull;熟悉linux开发环境</li>
            <li>&bull;熟悉数据结构，了解基本算法</li>
            <li>&bull;熟悉TCP/IP协议以及HTTP协议</li>
        </ol>

    </div>
</section>

</div>

</section>
<section class="panel configuration" data-section-name="configuration">
    <div class="inner3">
        <h2 id="title3">项目经历</h2>

        <h1>&bull;基于大数据的实施管理系统</h1>

        <p>本系统提供了一个GUI向导来初始化机器，安装操作系统并部署BigData软件栈。
            本人负责GUI开发，使用Dojo工具包以及Spring+structs开发框架。</p>

        <h1>&bull;通用设备监控系统框架</h1>

        <p>
            本项目实现了一套通用的设备监控框架，能够使得设备监控更加容易。用户简单配置xml文档即可实现对新设备的监控，不需另外写代码。本系统根据用户配置自动生成设备CRUD操作逻辑代码和页面以及数据库和统计表格。用户可通过web进行设备管理。
            本人负责web前端开发。</p>

        <h1>&bull;网上书店 </h1>

        <p>本项目实现了一个简单的网上书店功能，实现了搜索、购买、收藏、评论等功能。
            本项目为在校实习项目，基于JDBC+Servlet+JSP开发。</p>

        <h1>&bull;“独墅湖畔”BBS</h1>

        <p>本项目实现了一个bbs网站，实现了注册、发帖、评论等功能。
            本项目为在校实习项目，基于SSH框架开发，本人负责数据库部分设计与实现。</p>

    </div>
</section>
<section class="panel options" data-section-name="options">
    <div class="inner3">
        <h2 id="title4">教育背景</h2>
        <dl>
            <dt>&diams;西安交通大学</dt>
            <dd>软件工程 硕士在读 2012-今</dd>
            <dt>&diams;西安邮电大学</dt>
            <dd>测控技术与仪器 学士 2008-2012</dd>
        </dl>
    </div>
</section>
<section class="panel methods" data-section-name="methods">
    <div class="inner3">
        <h2 id="title5">技能与奖励</h2>

        <h1>&bull;通过英语六级考试 分数472</h1>

        <h1>&bull;研究生获得“独墅湖奖学金”（企业奖学金)</h1>

        <h1>&bull;本科连续三年获得校二等奖学金</h1>
    </div>
</section>

<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="javascripts/jquery.scrollify.js"></script>

<script src="javascripts/main.js"></script>


</body>


</html>
